extends ../ui_layout

block content
  
  .sixteen.wide.column
    h3.ui.header Tell Us A Little More About Yourself

    form.ui.form(action='/account/signup_info_post', method='POST', enctype='multipart/form-data')
      input(type='hidden', name='_csrf', value=_csrf)
      .field.image-upload
        //- label.col-sm-3.control-label Profile Picture (Click to Change)
        //- img(src=user.gravatar(), class='profile', width='100', height='100')
        label(for='picinput')="Profile Picture (Click to Change)"
          if user.profile.picture
            img#imgInp.ui.small.image(src='/user_post/'+user.profile.picture)
          else
            img#imgInp.ui.small.image(src=user.gravatar(60))
        input#picinput(type='file', accept='image/*', capture='camera', name='picinput')
      .inline.fields
        .ten.wide.field
          label(for='name') Name
          input.form-control(type='text', name='name', id='name', value=user.profile.name)
        .six.wide.field
          label(for='location') Location
          input.form-control(type='text', name='location', id='location', value=user.profile.location)
      .field
        label(for='bio') Bio
        textarea(rows='2', name='bio', id='bio')=user.profile.bio
      .ui.buttons
        button.ui.positive.button(type='submit') Save
        .or
        button.ui.button.skip Skip