extends ui_layout
  
block content
  
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        if actor.class == 'high_read'
          img(src=actor.profile.picture)
        else
          img(src='/profile_pictures/'+actor.profile.picture)
      .content
        a.header= actor.profile.name
        .meta="@"+actor.username
        .description=actor.profile.bio
        .description 
          i.marker.icon
          span=actor.profile.location
      .two.ui.bottom.attached.icon.buttons
          button.ui.button.block(data-tooltip='Block User', data-position='bottom left', username=actor.username)
            i.ban.icon
          |  
          button.ui.button.report(data-tooltip='Report User', data-position='bottom right', username=actor.username)
            i.flag.icon


  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column 
    each val in script
      .ui.fluid.card.dim(postID=val.id, ui=user.ui, notify=user.notify, state=val.state || 'unread', type='actor')
          //- dimmer DIV for flagging
          .ui.dimmer.flag
                .content
                  .center
                    h2.ui.inverted.icon.header
                      i.red.flag.icon
                      |  You&apos;ve flagged this!
                      h3.ui.inverted.header
                        span="The admins will review this post further. We are sorry you had this experience."
          if user.ui == 'ui'
            //- if user is in UI condistion - add read dimmer to post
            if val.read 
              //- if user has already READ this post before - set dimmer to active (turn it on)
              .ui.inverted.active.read.dimmer
                .content
                  .center
                    h2.ui.icon.header
                      i.unhide.icon
                      |  You&apos;ve read this!
                    br
                    if user.notify != 'no'
                      h3.ui.icon.header
                        img.ui.avatar.image(src='/profile_pictures/'+val.actor.profile.picture)
                        span=" "+val.actor.profile.name+" "
                        | has been notified
                        br
                        if val.reply
                          img.ui.avatar.image(src='/profile_pictures/'+val.reply.actor.profile.picture)
                          span=" "+val.reply.actor.profile.name+" "
                          | has been notified
                        br
                    br
                    button.ui.black.button.reread Read Again?                
            else
              //- user has not read this post, but is in UI condistion, so add dimmer, but don't turn it on
              .ui.inverted.read.dimmer
                .content
                  .center
                    h2.ui.icon.header
                      i.unhide.icon
                      |  You&apos;ve read this!
                    br
                    if user.notify != 'no'
                      h3.ui.icon.header
                        img.ui.avatar.image(src='/profile_pictures/'+val.actor.profile.picture)
                        span=" "+val.actor.profile.name+" "
                        | has been notified
                        br
                        if val.reply
                          img.ui.avatar.image(src='/profile_pictures/'+val.reply.actor.profile.picture)
                          span=" "+val.reply.actor.profile.name+" "
                          | has been notified
                        br
                    br
                    button.ui.black.button.reread Read Again?

          if val.reply
            //- if post is a reply post - add the post and populate the reply as well
            .content
              .right.floated.time.meta= (user.createdAt.getTime() + val.time)
              |
              a.ui.avatar.image(href='/user/'+val.actor.username)
                img(src='/profile_pictures/'+val.actor.profile.picture)
              a(href='/user/'+val.actor.username)
                span=val.actor.profile.name
            .content
              .description=val.body
            .extra.content
              .ui.fluid.card
                .content
                  .right.floated.time.meta= (user.createdAt.getTime() + val.reply.time)
                  |
                  a(href='/user/'+val.reply.actor.username)   
                    img.ui.avatar.image(src='/profile_pictures/'+val.reply.actor.profile.picture)
                    span=val.reply.actor.profile.name
                if val.reply.picture
                  .image
                    img(src="/"+val.reply.picture)
                .content
                  .description=val.reply.body
                  if user.notify != 'low'
                    .right.floated.meta
                      i.icon.checkmark
                      | Seen by #{val.lowread}
                  else if user.notify != 'high'
                    .right.floated.meta
                      i.icon.checkmark
                      | Seen by #{val.highread}
            .three.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                |  Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                |  Flag
              if val.like
                .ui.labeled.button(tabindex='0')
                  .ui.red.like.button
                    i.heart.icon
                    |  Like
                  a.ui.basic.red.left.pointing.label=val.likes
                    | 15
              else
                .ui.labeled.button(tabindex='0')
                  .ui.like.button
                    i.heart.icon
                    |  Like
                  a.ui.basic.red.left.pointing.label.count=val.likes
      
          else
            //- not a reply post - visualize like normal
            .content
              .right.floated.time.meta= (user.createdAt.getTime() + val.time)
              |  
              a(href='/user/'+val.actor.username)
                img.ui.avatar.image(src='/profile_pictures/'+val.actor.profile.picture)
                span=val.actor.profile.name
            .image
              img(src="/"+val.picture)
              //-img(src='/picture.svg', data-src=val.picture)
            .content
              .description=val.body
              if user.notify != 'low'
                .right.floated.meta
                  i.icon.checkmark
                  | Seen by #{val.lowread}
              else if user.notify != 'high'
                .right.floated.meta
                  i.icon.checkmark
                  | Seen by #{val.highread}
            .three.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                |  Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                |  Flag
              if val.like
                .ui.labeled.button(tabindex='0')
                  .ui.red.like.button
                    i.heart.icon
                    |  Like
                  a.ui.basic.red.left.pointing.label=val.likes
              else
                .ui.labeled.button(tabindex='0')
                  .ui.like.button
                    i.heart.icon
                    |  Like
                  a.ui.basic.red.left.pointing.label.count=val.likes
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
  //- New Reply Modal
  .ui.small.reply.modal
    i.close.icon
    .header Reply to Post
    .content
      form#replyform.ui.reply.form(action='/post/new', method='POST', enctype='multipart/form-data')
        input(type='hidden', name='_csrf', value=_csrf)
        input#replyInput(type='hidden', name='reply', value='a')
        .field
          textarea(rows='2', placeholder='Add your Reply', name='body')
        .ui.error.message
    .actions
      input.ui.green.button(type='submit', value='Submit', form='replyform')

  .ui.small.report.coupled.modal
      i.close.icon
      .header Report This User
      .content
        form#reportform.ui.reply.form(action='/user', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='reported', value=actor.username)
          .ui.form
            .grouped.fields
              label(for='report_issue') Help us understand the issue. What's the problem with this account?
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="interested", tabindex='0')
                  label I'm not interested in this account
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="spam",tabindex='0')
                  label They are posting spam
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="bully", tabindex='0')
                  label They're being abusive or harmful
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="hacked", tabindex='0')
                  label Their account may be hacked
            .ui.error.message
      .actions
        input.ui.green.button(type='submit', value='Submit', form='reportform')
  .ui.small.second.coupled.modal
      .header
        | Report Has Been Sent!
      .content
        .description
          p This user has been reported to the admins. Thank you for helping the community!
      .actions
        .ui.approve.button
          i.checkmark.icon
          |         Continue
  if blocked
    .ui.on.small.basic.blocked.modal
        .ui.icon.header
          i.ban.icon
          |       You Have Blocked This User
        .content
          p
            | You will no longer receive posts from this user. You can choose to report this user or un-block them. 
        .actions
          //-.ui.left.floated.red.cancel.inverted.button
            i.flag.icon
            |         Report User
          .ui.green.ok.inverted.button
            i.undo.icon
            |         Un-Block User
  else
    .ui.small.basic.blocked.modal
        .ui.icon.header
          i.ban.icon
          |       You Have Blocked This User
        .content
          p
            | You will no longer receive posts from this user. You can choose to report this user or un-block them. 
        .actions
          .ui.left.floated.red.cancel.inverted.button
            i.flag.icon
            |         Report User
          .ui.right.floated.green.ok.inverted.button
            i.undo.icon
            |         Un-Block User
