extends ui_layout
  
block content
  
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        if actor[profileFilter] == "yes"
          img(src='/profile_pictures/'+actor.profile.picture)
        else
          img(src=actor.profile.fakepic)
      .content
        a.header= actor.profile.name
        .meta="@"+actor.username
        .description=actor.profile.bio
        .description 
          i.marker.icon
          span=actor.profile.location
      .two.ui.bottom.attached.icon.buttons
          button.ui.button.block(data-tooltip='Block User', data-position='bottom left', username=actor.username)
            i.ban.icon
          |  
          button.ui.button.report(data-tooltip='Report User', data-position='bottom right', username=actor.username)
            i.flag.icon


  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column 
    each val in script
      .ui.fluid.card.dim(postID=val.id, ui=user.ui, state=val.state || 'unread', type='actor', actor_un = val.actor.username, actor_name = val.actor.profile.name, actor_pic = val.actor.profile.picture)
          //- dimmer DIV for flagging
          .ui.dimmer.flag
                .content
                  .center
                    h2.ui.inverted.icon.header
                      i.red.flag.icon
                      |  You&apos;ve flagged this!
                      h3.ui.inverted.header
                        span="The admins will review this post further. We are sorry you had this experience."
          //- Normal Base Post
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.time)
            |  
            a(href='/user/'+val.actor.username)
              if val.actor[profileFilter] == "yes"
                img.ui.avatar.image(src='/profile_pictures/'+val.actor.profile.picture)
              else
                img.ui.avatar.image(src=val.actor.profile.fakepic)
              span=val.actor.profile.name

          //-div(style="position: relative; z-index: 1;")
            img(src="image.png" style="position: absolute; z-index: 2;")
            span#overlay_text(style="position: relative; top: -10px; z-index: 3;") OVERLAY
          .image
            img.post(src="/post_pictures/"+val.picture)
          .content
            .description=val.body
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            if val.like
              .ui.labeled.button(tabindex='0')
                .ui.red.like.button
                  i.heart.icon
                  |  Like
                a.ui.basic.red.left.pointing.label=val.likes
            else
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  |  Like
                a.ui.basic.red.left.pointing.label.count=val.likes
          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  //-IF this comment is USER made, do this
                  if ((user.createdAt.getTime() + comment.time) < Date.now() && (!comment.flagged))
                    if comment.new_comment
                      -console.log("New COMMENT AREA");
                      .comment(commentID=comment.new_comment_id)
                        a.avatar.image(href='/me')
                          if user.profile.picture
                            img(src='/user_post/'+user.profile.picture)
                          else
                            img(src=user.gravatar(60))
                        .content
                          a.author(href='/me')=user.profile.name || user.username || user.id
                          .metadata
                            span.date=(user.createdAt.getTime() + comment.time)
                            .rating
                              i.heart.icon
                              span.num=0
                              |  Likes
                          .text=comment.body
                          .actions
                            a.like.comment Like
                            a.flag.comment Flag
                    //- Else this is a normal comment from the script
                    else
                      .comment(commentID=comment.id)
                        a.avatar(href='/user/'+comment.actor.username)
                          if comment.actor[profileFilter] == "yes"
                            img(src='/profile_pictures/'+comment.actor.profile.picture)
                          else
                            img(src=comment.actor.profile.fakepic)
                        .content
                          a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                          .metadata
                            span.date=(user.createdAt.getTime() + comment.time)
                            .rating
                              if comment.liked
                                i.red.heart.icon
                                span=comment.likes
                                | Likes 
                              else
                                i.heart.icon
                                span.num=comment.likes
                                |  Likes
                          .text=comment.body
                          .actions
                            if comment.liked
                              a.red.like.comment Like
                            else
                              a.like.comment Like
                            a.flag.comment Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                if user.profile.picture
                  img.ui.avatar.image(src='/user_post/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                else
                  img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
              input.newcomment(type='text', placeholder='Write a Comment')
              i.big.send.link.icon

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
  .ui.small.report.coupled.modal
      i.close.icon
      .header Report This User
      .content
        form#reportform.ui.reply.form(action='/user', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='reported', value=actor.username)
          .ui.form
            .grouped.fields
              label(for='report_issue') Help us understand the issue. What's the problem with this account?
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="interested", tabindex='0')
                  label I'm not interested in this account
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="spam",tabindex='0')
                  label They are posting spam
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="bully", tabindex='0')
                  label They're being abusive or harmful
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio', name='report_issue', value="hacked", tabindex='0')
                  label Their account may be hacked
            .ui.error.message
      .actions
        input.ui.green.button(type='submit', value='Submit', form='reportform')
  .ui.small.second.coupled.modal
      .header
        | Report Has Been Sent!
      .content
        .description
          p This user has been reported to the admins. Thank you for helping the community!
      .actions
        .ui.approve.button
          i.checkmark.icon
          |         Continue
  if blocked
    .ui.on.small.basic.blocked.modal
        .ui.icon.header
          i.ban.icon
          |       You Have Blocked This User
        .content
          p
            | You will no longer receive posts from this user. You can choose to report this user or un-block them. 
        .actions
          //-.ui.left.floated.red.cancel.inverted.button
            i.flag.icon
            |         Report User
          .ui.home.inverted.button
            i.home.icon
            |         Go Back to Homepage
          .ui.green.ok.inverted.button
            i.undo.icon
            |         Un-Block User
  else
    .ui.small.basic.blocked.modal
        .ui.icon.header
          i.ban.icon
          |       You Have Blocked This User
        .content
          p
            | You will no longer receive posts from this user. You can choose to report this user or un-block them. 
        .actions
          .ui.left.floated.red.cancel.inverted.button
            i.flag.icon
            |         Report User
          .ui.home.inverted.button
            i.home.icon
            |         Go Back to Homepage
          .ui.right.floated.green.ok.inverted.button
            i.undo.icon
            |         Un-Block User
