extends ui_layout

block content

  .sixteen.wide.column 
    br
    table.ui.celled.padded.table
      thead
        tr
          th.single.line E-mail
          th ID
          th Start Date
          th Group
          th Completed?
          th Day 1
          th Day 2
          th Day 3
          th Number of Logins
          th Posts
          th Replies
      each u in users
        tbody
          tr
            td=u.email
            td.single.line=u.mturkID
            td=u.createdAt
            td=u.group
            td=u.completed
            td=u.study_days[0]
            td=u.study_days[1]
            td=u.study_days[2]
            td=u.log.length 
            td=u.numPosts + 1
            td=u.numReplies + 1
    br
    br
    br

