extends ui_layout
  
block content
  
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        if user.profile.picture
          img(src='/user_post/'+user.profile.picture)
        else
          img(src=user.gravatar(60))
      .content
        a.header(href='/me')= user.profile.name || user.email || user.id
        .meta="@"+user.username
        .description=user.profile.bio
        .description
          if user.profile.location
            i.marker.icon
            span=user.profile.location
      .one.ui.bottom.attached.icon.buttons
          button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
            i.write.icon


  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column 
    each val in posts
      -var u_class;
      -if (val.actorAuthor) {u_class = "actorReply"}
      -else if (val.reply) {u_class = "userReply"}
      -else {u_class = "userPost"}
      .ui.fluid.card(u_postID=val.id, ui=user.ui, notify=user.notify, type=u_class, postID=val.postID)
        if val.reply
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.relativeTime)
            |  
            a.ui.avatar.image(href='/me')
              if user.profile.picture
                img(src='/user_post/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
              a(href='/me')
                span=user.profile.name || user.email || user.id
          .content
            .description=val.body
          .extra.content
            .ui.fluid.card
              .content
                .right.floated.time.meta= (user.createdAt.getTime() + val.reply.time)
                |  
                img.ui.avatar.image(src='/profile_pictures/'+val.reply.actor.profile.picture)
                span=val.reply.actor.profile.name
              if val.reply.picture
                .image
                  img(src="/"+val.reply.picture)
              .content
                .description=val.reply.body
          .three.ui.bottom.attached.icon.buttons
              //-.ui.reply.button(tabindex='0')
              .ui.button(tabindex='0')
                i.reply.icon
                |  Reply
              //-.ui.flag.button(tabindex='0')
              .ui.button(tabindex='0')
                i.flag.icon
                |  Flag
              if val.like
                //-.ui.red.like.button
                .ui.red.button
                  i.heart.icon
                  |  Like
              else
                //-.ui.like.button
                .ui.button
                  i.heart.icon
                  |  Like
        else
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.relativeTime)
            |  
            a.ui.avatar.image(href='/me')
              if user.profile.picture
                img(src='/user_post/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
            a(href='/me')
              span=user.profile.name || user.email || user.id
          .image
            img(src='/user_post/'+val.picture)
          .content
            .description=val.body
          .two.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                |  Reply
              if val.liked
                .ui.red.like.button
                  i.heart.icon
                  |  Like
              else
                .ui.like.button
                  i.heart.icon
                  |  Like
          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  //-IF this comment is USER made, do this
                  if (user.createdAt.getTime() + comment.time) < Date.now()
                    if !comment.flagged
                      if comment.new_comment
                        -console.log("New COMMENT AREA");
                        .comment(commentID=comment.commentID)
                          a.avatar.image(href='/me')
                            if user.profile.picture
                              img(src='/user_post/'+user.profile.picture)
                            else
                              img(src=user.gravatar(60))
                          .content
                            a.author(href='/me')=user.profile.name || user.username || user.id
                            .metadata
                              span.date=(user.createdAt.getTime() + comment.time)
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  | Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
                      //- Else this is a normal comment from the script
                      else
                        .comment(commentID=comment.commentID)
                          a.avatar(href='/user/'+comment.actor.username)
                            img(src='/profile_pictures/'+comment.actor.profile.picture)
                          .content
                            a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                            .metadata
                              span.date=(user.createdAt.getTime() + comment.time)
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  | Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                if user.profile.picture
                  img.ui.avatar.image(src='/user_post/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                else
                  img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
              input.newcomment(type='text', placeholder='Write a Comment')
              i.big.send.link.icon