extends ui_layout
  
block content

  
  
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        img(src='/user_post/'+user.profile.picture)
      .content
        a.header(href='/me')= user.profile.name || user.email || user.id
        .meta="@"+user.username
        .description=user.profile.bio
        .description
          if user.profile.location
            i.marker.icon
            span=user.profile.location
      .one.ui.bottom.attached.icon.buttons
          button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
            i.write.icon

  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    if notification_feed == -1
      h4 You have no notifications at the time.
    else
      .ui.feed
        each val in notification_feed
          case val.action
            when 'read'
              - var best = val.actors.splice(0, 5);
              .event
                .label
                  i.large.unhide.icon
                .content
                  img.ui.tiny.right.floated.image(src='/user_post/'+val.picture)
                  .extra.images
                    each actor in best
                      if actor.username != "generic-joe"
                        a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                          if actor[profileFilter] == "yes"
                            img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                          else
                            img.ui.avatar.image(src=actor.profile.fakepic)
                  if best.length == 1
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |   has read your post. 
                      .date=val.time
                  else 
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |  and 
                      //-a.others(key=val.key)=(best.length+val.actors.length-1)+" others "
                      a(key=val.key)=(best.length+val.actors.length-1)+" others "
                      | have read your post.  
                      .date=val.time
              .ui.small.long.extrausers.modal(id=val.key)
                .image.centered.content
                  .ui.extra.centered.divided.items
                    each extra in val.actors
                      .item
                        a.ui.tiny.image(href='/user/'+extra.username)
                          img(src='/avatar-icon.svg', data-original=extra.profile.picture)
                        .middle.aligned.content
                          .header
                            a(href='/user/'+extra.username)=extra.profile.name
            when 'like'
             - var best = val.actors.splice(0, 5);
              .event
                .label
                  i.large.like.icon
                .content
                  img.ui.tiny.right.floated.image(src='/user_post/'+val.picture)
                  .extra.images
                    each actor in best
                      a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                        //-img(src='/profile_pictures/'+actor.profile.picture)
                        
                        img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                  if best.length == 1
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |   has liked your post. 
                      .date=val.time
                  else 
                    .summary 
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |  and 
                      a.others(key=val.key)=(best.length+val.actors.length-1)+" others "
                      | have liked your post. 
                      .date=val.time  
            when 'reply_read'
              - var best = val.actors.splice(0, 5);
              .event
                .label
                  i.large.unhide.icon
                .content
                  if val.picture
                    img.ui.tiny.right.floated.image(src='/'+val.picture)
                  .extra.images
                    each actor in best
                      if actor.username != "generic-joe"
                        a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                          //-img(src='/profile_pictures/'+actor.profile.picture)
                          
                          img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                  if best.length == 1
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      | has read your reply to #{val.originalActor.profile.name}'s post. 
                      .date=val.time
                  else 
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |  and 
                      //-a.others(key=val.key)=(best.length+val.actors.length-1)+" others "
                      a(key=val.key)=(best.length+val.actors.length-1)+" others "
                      | have read your reply to #{val.originalActor.profile.name}'s post.  
                      .date=val.time
              .ui.small.long.extrausers.modal(id=val.key)
                .image.centered.content
                  .ui.extra.centered.divided.items
                    each extra in val.actors
                      .item
                        a.ui.tiny.image(href='/user/'+extra.username)
                          img(src='/avatar-icon.svg', data-original=extra.profile.picture)
                        .middle.aligned.content
                          .header
                            a(href='/user/'+extra.username)=extra.profile.name
            when 'reply_like'
             - var best = val.actors.splice(0, 5);
              .event
                .label
                  i.large.like.icon
                .content
                  if val.picture
                    img.ui.tiny.right.floated.image(src='/'+val.picture)
                  .extra.images
                    each actor in best
                      a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                        //-img(src='/profile_pictures/'+actor.profile.picture)
                        img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                  if best.length == 1
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |   has liked your reply to #{val.originalActor.profile.name}'s post. 
                      .date=val.time
                  else 
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |  and 
                      a.others(key=val.key)=(best.length+val.actors.length-1)+" others "
                      | have liked your reply to #{val.originalActor.profile.name}'s post. 
                      .date=val.time                                              
            when 'actor_reply_read'
              - var best = val.actors.splice(0, 5);
              .event
                .label
                  i.large.unhide.icon
                .content
                  img.ui.tiny.right.floated.image(src='/user_post/'+val.picture)
                  .extra.images
                    each actor in best
                      if actor.username != "generic-joe"
                        a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                          //-img(src='/profile_pictures/'+actor.profile.picture)
                          img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                  if best.length == 1
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      | has read #{val.originalActor.profile.name}'s reply to your post. 
                      .date=val.time
                  else 
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |  and 
                      a.others(key=val.key)=(best.length+val.actors.length-1)+" others "
                      | have read #{val.originalActor.profile.name}'s reply to your post.
                      .date=val.time
              .ui.small.long.extrausers.modal(id=val.key)
                .image.centered.content
                  .ui.extra.centered.divided.items
                    each extra in val.actors
                      .item
                        a.ui.tiny.image(href='/user/'+extra.username)
                          img(src='/avatar-icon.svg', data-original=extra.profile.picture)
                        .middle.aligned.content
                          .header
                            a(href='/user/'+extra.username)=extra.profile.name
            when 'actor_reply_like'
             - var best = val.actors.splice(0, 5);
              .event
                .label
                  i.large.like.icon
                .content
                  img.ui.tiny.right.floated.image(src='/user_post/'+val.picture)
                  .extra.images
                    each actor in best
                      a.ui.avatar.image(href='/user/'+actor.username, data-tooltip=actor.profile.name, data-position='top center')
                        //-img(src='/profile_pictures/'+actor.profile.picture)
                        
                        img.ui.avatar.image(src='/profile_pictures/'+actor.profile.picture)
                  if best.length == 1
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |   has liked #{val.originalActor.profile.name}'s reply to your post. 
                      .date=val.time
                  else 
                    .summary
                      a(href='/user/'+best[0].username)=best[0].profile.name
                      |  and 
                      a.others(key=val.key)=(best.length+val.actors.length-1)+" others "
                      | have liked #{val.originalActor.profile.name}'s reply to your post. 
                      .date=val.time   
            when 'reply'
              .event
                .label
                  i.large.reply.icon
                .content
                  img.ui.tiny.right.floated.image(src='/user_post/'+val.picture)
                  .extra.images
                      a.ui.avatar.image(href='/user/'+val.actor.username, data-tooltip=val.actor.profile.name, data-position='top center')
                        //-img(src='/profile_pictures/'+val.actor.profile.picture)
                        
                        img.ui.avatar.image(src='/profile_pictures/'+val.actor.profile.picture)
                  .summary
                    a(href='/user/'+val.actor.username)
                      span=val.actor.profile.name
                    |  has commented on your post.
                  .extra.text=val.replyBody
                  
            default
        
              